@{
    var _model = (ContractOnline.Models.FormViewModel)ViewBag.Model;
}
<!DOCTYPE html>
<html ng-app="greenspot">
<head>
    <title></title>
    <link rel="apple-touch-icon" href="~/img/icon.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="icon" type="image/png" href="~/img/icon.png">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/scripts/signature_pad.min.js"></script>
    <script src="~/scripts/jquery-2.2.0.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/contract.controller.js"></script>
    <script src="~/scripts/jquery-ui.min.js"></script>
    <style>
        body {
            font-size: 28px;
        }

        .select-big,
        input[type=date],
        input[type=email],
        input[type=number],
        input[type=text] {
            font-size: 32px;
            line-height: 48px;
            height: 52px;
        }

        .select-big {
            font-size: 32px;
            line-height: 48px;
            height: 52px;
        }

        .modal-dialog {
            width: 840px;
        }

        #signature-pad {
            border: 1px solid black;
        }

        .form-control-error {
            border: solid 1px red;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            color: #5cb85c;
        }

        .titleHr {
            height: 3px;
            background: #3d8b3d;
            margin-bottom: 0px;
        }

        input[type=checkbox].css-checkbox {
            position: absolute;
            z-index: -1000;
            left: -1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
        }

            input[type=checkbox].css-checkbox + label.css-label {
                padding-left: 29px;
                height: 24px;
                display: inline-block;
                line-height: 24px;
                background-repeat: no-repeat;
                background-position: 0 0;
                font-size: 24px;
                vertical-align: middle;
                cursor: pointer;
            }

            input[type=checkbox].css-checkbox:checked + label.css-label {
                background-position: 0 -24px;
            }

        label.css-label {
            background-image: url("/img/checkbox.png");
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
</head>
<body>
    <div class="container col-xs-12" ng-controller="ContractController as vm" ng-init="vm.init(@(_model==null?_model: null))">
        <div style="height:80px;background-color:#5cb85c;text-align:center;padding-top:10px">
            <img src="~/img/logo.png" height="60" />
            <font style="font-size:40px;vertical-align:middle;line-height:40px;font-weight:bold;color:white">
                Greenspot Product & Service Application
            </font>
        </div>
        <form class="form-horizontal" novalidate>
            <!--#region details -->
            <font class="title">Your Details</font>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" name="businessName" class="form-control" required placeholder="Business / Legal / Trading Name" ng-model="vm.contract.BusinessName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" id="address" name="address" class="form-control" required placeholder="Address" ng-model="vm.contract.Address" />
                </div>
                <!-- div class="col-xs-4">
                    <input type="number" name="postCode" class="form-control" required placeholder="Post Code" ng-model="vm.contract.PostCode" />
                </div -->
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <select class="selectpicker show-tick form-control select-big" name="title" ng-model="vm.contract.Title">
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                    </select>
                </div>
                <div class="col-xs-5">
                    <input type="text" name="firstName" class="form-control" required placeholder="First Name" ng-model="vm.contract.FirstName" />
                </div>
                <div class="col-xs-5">
                    <input type="text" name="lastName" class="form-control" required placeholder="Last Name" ng-model="vm.contract.LastName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <input type="number" name="phone" class="form-control" required placeholder="Phone" ng-model="vm.contract.Phone" />
                </div>
                <div class="col-xs-3">
                    <input type="number" name="mobile" class="form-control" required placeholder="Mobile" ng-model="vm.contract.Mobile" />
                </div>
                <div class="col-xs-6">
                    <input type="email" name="email" class="form-control" required placeholder="Email" ng-model="vm.contract.Email" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-4">
                    <select name="idType" class="selectpicker show-tick form-control select-big" ng-model="vm.contract.IdType">
                        <option value="Driver Licence">Driver Licence</option>
                        <option value="Passport">Passport</option>
                    </select>
                </div>
                <label class="col-xs-4" style="font-size:20px">*for ID purpose only</label>
            </div>
            <div class="form-group">
                <label class="col-xs-1">DOB</label>
                <div class="col-xs-3">
                    <input type="date" name="bod" class="form-control" required ng-model="vm.contract.DoB" />
                </div>
                <div class="col-xs-4">
                    <input type="text" name="idFirstName" class="form-control" required placeholder="First Name" ng-model="vm.contract.IdFirstName" />
                </div>
                <div class="col-xs-4">
                    <input type="text" name="idLastName" class="form-control" required placeholder="Last Name" ng-model="vm.contract.IdLastName" />
                </div>
            </div>
            <div class="form-group" ng-show="vm.contract.IdType === 'Driver Licence'">
                <div class="col-xs-6">
                    <input type="text" id="driverLicenceNo5a" name="driverLicenceNo5a" class="form-control"  placeholder="Driver Licence No.(5a)" ng-model="vm.contract.DriverLicenceNo5a" />
                </div>
                <div class="col-xs-6">
                    <input type="text" id="driverLicenceNo5b" name="driverLicenceNo5b" class="form-control"  placeholder="Driver Licence No.(5b)" ng-model="vm.contract.DriverLicenceNo5b" />
                </div>
            </div>
            <div class="form-group" ng-show ="vm.contract.IdType === 'Passport'">
                <div class="col-xs-6">
                    <input type="text" id="passportNo" name="passportNo" class="form-control" placeholder="Passport No." ng-model="vm.contract.PassportNo" />
                </div>
                <div class="col-xs-6">
                    <input type="text" id="passportCountry" name="passportCountry" class="form-control"  placeholder="Passport country of origin" ng-model="vm.contract.PasspotCountry" />
                </div>
            </div>
            <!-- #endregion -->
            <!--#region products and services-->
            <hr class="titleHr" />
            <font class="title">Products & Services</font>
            <div class="form-group">
                <div class="col-xs-8">
                    <select class="selectpicker show-tick form-control select-big" ng-model="vm.contract.Router.Model">
                        <option value="Wifi Router MX30">Wifi Router MX30 - $99</option>
                        <option value="Wifi Router MX60">Wifi Router MX60 - $129</option>
                        <option value="Wifi Router MX150">Wifi Router MX150 - $299</option>
                    </select>
                </div>
                <label class="col-xs-1 col-xs-offset-1">QTY</label>
                <div class="col-xs-2">
                    <select class="selectpicker show-tick form-control select-big" ng-model="vm.contract.Router.Quantity">
                        @for (int i = 0; i < 5; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-8">
                    <select class="selectpicker show-tick form-control select-big" ng-model="vm.contract.AP.Model">
                        <option value="AP MXP-2001">AP MX2001 - $149</option>
                        <option value="AP MXP-6001">AP MX6001 - $149</option>
                    </select>
                </div>
                <label class="col-xs-1  col-xs-offset-1">QTY</label>
                <div class="col-xs-2">
                    <select class="selectpicker show-tick form-control select-big" ng-model="vm.contract.AP.Quantity">
                        @for (int i = 0; i < 5; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3">Installation</label>
                <div class="col-xs-5">
                    <select class="selectpicker show-tick form-control select-big" ng-model="vm.contract.InstallDate">
                        <option value="As Soon As Possible">As Soon As Possible</option>
                        @for (int i = 1; i < 15; i++)
                        {
                            <option value="@DateTime.Today.AddDays(i).ToString("dd MMM, yyyy")">
                                @DateTime.Today.AddDays(i).ToString("ddd dd MMM, yyyy")
                            </option>
                        }
                    </select>
                </div>
                <div class="col-xs-4">
                    <select class="selectpicker show-tick form-control select-big" ng-model="vm.contract.InstallTime">
                        <option value="10AM-12PM">10am - midday</option>
                        <option value="1PM-5PM">1pm - 5pm</option>
                    </select>
                </div>
            </div>
            <!-- #endregion -->
            <!--#region authorization & price-->
            <hr class="titleHr" />
            <font class="title">Price</font>
            <div class="row">
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <input type="hidden" id="signData" />
                        <input type="image" id="btnSign" src="~/img/sign.png" height="40" />
                    </div>
                    <img id="imgSign" src="" style="width:100%" />
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-6">Annually</label>
                        <label class="col-xs-6" style="text-align:right">{{vm.contract.OriginalPrice()|currency:$}}</label>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-6">Discount</label>
                        <div class="col-xs-6">
                            <input type="number" style="text-align:right" class="form-control" ng-model="vm.contract.Discount" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-6">Price</label>
                        <label class="col-xs-6" style="text-align:right">{{vm.contract.ActualPrice() | currency:$}}</label>
                    </div>
                    <input id="chkTerms" type="checkbox" class="css-checkbox" ng-model="vm.contract.Agree" />
                    <label for="chkTerms" class="css-label"><a href="/home/terms" target="_blank">Terms & Conditions</a></label>

                    <button type="submit" class="col-xs-12 btn btn-success" style="width:100%;font-size:30px;font-weight:bold"
                            ng-click="vm.submit()">
                        Preview
                    </button>
                </div>
                <!-- #endregion -->
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="signModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Signature</h4>
                </div>
                <div class="modal-body" style="width:100%;">
                    <canvas id="signature-pad" width="800" height="400"></canvas>
                    <div style="text-align:right">
                        <button id="btnSignClear" class="btn btn-success btn-lg">Clear</button>
                        <button id="btnSignOk" class="btn btn-success btn-lg">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/scripts/autoCompleteAddress.js" type="text/javascript"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false&libraries=places&callback=initAutocomplete" type="text/javascript"></script>
<script language="javascript">
    //get canvas
    var canvas = document.getElementById("signature-pad");
    var signaturePad = new SignaturePad(canvas, {
        minWidth: 2, maxWidth: 7, penColor: 'rgb(0, 0, 255)'
    });

    //
    $('#btnSign').click(function () {
        $("#signModel").modal('show');
    });

    //save
    $("#btnSignOk").click(function () {
        if (signaturePad.isEmpty()) {
            $("#imgSign").attr("src", '');
            $("#signData").val('');
        } else {
            var data = signaturePad.toDataURL('image/png');
            $("#imgSign").attr("src", data);
            $("#signData").val(data);
            signaturePad.clear();
        }

        //close modal
        $("#signModel").modal('hide');
    });

    //clear
    $("#btnSignClear").click(function () {
        signaturePad.clear();
    });

    //
    var countries = ["Afghanistan - AF", "Albania - AL", "Algeria - DZ", "American Samoa - AS", "AndorrA - AD", "Angola - AO", "Anguilla - AI", "Antigua and Barbuda - AG", "Argentina - AR", "Armenia - AM", "Aruba - AW", "Australia - AU", "Austria - AT", "Azerbaijan - AZ", "Bahamas - BS", "Bahrain - BH", "Bangladesh - BD", "Barbados - BB", "Belarus - BY", "Belgium - BE", "Belize - BZ", "Benin - BJ", "Bermuda - BM", "Bhutan - BT", "Bolivia - BO", "Bosnia and Herzegovina - BA", "Botswana - BW", "Bouvet Island - BV", "Brazil - BR", "British Indian Ocean Territory - IO", "Brunei Darussalam - BN", "Bulgaria - BG", "Burkina Faso - BF", "Burundi - BI", "Cambodia - KH", "Cameroon - CM", "Canada - CA", "Cape Verde - CV", "Cayman Islands - KY", "Central African Republic - CF", "Chad - TD", "Chile - CL", "China - CN", "Christmas Island - CX", "Cocos (Keeling) Islands - CC", "Colombia - CO", "Comoros - KM", "Congo - CG", "Congo, The Democratic Republic of the - CD", "Cook Islands - CK", "Costa Rica - CR", "Cote D\"Ivoire - CI", "Croatia - HR", "Cuba - CU", "Cyprus - CY", "Czech Republic - CZ", "Denmark - DK", "Djibouti - DJ", "Dominica - DM", "Dominican Republic - DO", "Ecuador - EC", "Egypt - EG", "El Salvador - SV", "Equatorial Guinea - GQ", "Eritrea - ER", "Estonia - EE", "Ethiopia - ET", "Falkland Islands (Malvinas) - FK", "Faroe Islands - FO", "Fiji - FJ", "Finland - FI", "France - FR", "French Guiana - GF", "French Polynesia - PF", "French Southern Territories - TF", "Gabon - GA", "Gambia - GM", "Georgia - GE", "Germany - DE", "Ghana - GH", "Gibraltar - GI", "Greece - GR", "Greenland - GL", "Grenada - GD", "Guadeloupe - GP", "Guam - GU", "Guatemala - GT", "Guernsey - GG", "Guinea - GN", "Guinea-Bissau - GW", "Guyana - GY", "Haiti - HT", "Heard Island and Mcdonald Islands - HM", "Holy See (Vatican City State) - VA", "Honduras - HN", "Hong Kong - HK", "Hungary - HU", "Iceland - IS", "India - IN", "Indonesia - ID", "Iran, Islamic Republic Of - IR", "Iraq - IQ", "Ireland - IE", "Isle of Man - IM", "Israel - IL", "Italy - IT", "Jamaica - JM", "Japan - JP", "Jersey - JE", "Jordan - JO", "Kazakhstan - KZ", "Kenya - KE", "Kiribati - KI", "Korea, Democratic People's Republic of - KP", "Korea, Republic of - KR", "Kuwait - KW", "Kyrgyzstan - KG", "Lao People's Democratic Republic - LA", "Latvia - LV", "Lebanon - LB", "Lesotho - LS", "Liberia - LR", "Libyan Arab Jamahiriya - LY", "Liechtenstein - LI", "Lithuania - LT", "Luxembourg - LU", "Macao - MO", "Macedonia, The Former Yugoslav Republic of - MK", "Madagascar - MG", "Malawi - MW", "Malaysia - MY", "Maldives - MV", "Mali - ML", "Malta - MT", "Marshall Islands - MH", "Martinique - MQ", "Mauritania - MR", "Mauritius - MU", "Mayotte - YT", "Mexico - MX", "Micronesia, Federated States of - FM", "Moldova, Republic of - MD", "Monaco - MC", "Mongolia - MN", "Montserrat - MS", "Morocco - MA", "Mozambique - MZ", "Myanmar - MM", "Namibia - NA", "Nauru - NR", "Nepal - NP", "Netherlands - NL", "Netherlands Antilles - AN", "New Caledonia - NC", "New Zealand - NZ", "Nicaragua - NI", "Niger - NE", "Nigeria - NG", "Niue - NU", "Norfolk Island - NF", "Northern Mariana Islands - MP", "Norway - NO", "Oman - OM", "Pakistan - PK", "Palau - PW", "Palestinian Territory, Occupied - PS", "Panama - PA", "Papua New Guinea - PG", "Paraguay - PY", "Peru - PE", "Philippines - PH", "Pitcairn - PN", "Poland - PL", "Portugal - PT", "Puerto Rico - PR", "Qatar - QA", "Reunion - RE", "Romania - RO", "Russian Federation - RU", "RWANDA - RW", "Saint Helena - SH", "Saint Kitts and Nevis - KN", "Saint Lucia - LC", "Saint Pierre and Miquelon - PM", "Saint Vincent and the Grenadines - VC", "Samoa - WS", "San Marino - SM", "Sao Tome and Principe - ST", "Saudi Arabia - SA", "Senegal - SN", "Serbia and Montenegro - CS", "Seychelles - SC", "Sierra Leone - SL", "Singapore - SG", "Slovakia - SK", "Slovenia - SI", "Solomon Islands - SB", "Somalia - SO", "South Africa - ZA", "South Georgia and the South Sandwich Islands - GS", "Spain - ES", "Sri Lanka - LK", "Sudan - SD", "Suri - SR", "Svalbard and Jan Mayen - SJ", "Swaziland - SZ", "Sweden - SE", "Switzerland - CH", "Syrian Arab Republic - SY", "Taiwan, Province of China - TW", "Tajikistan - TJ", "Tanzania, United Republic of - TZ", "Thailand - TH", "Timor-Leste - TL", "Togo - TG", "Tokelau - TK", "Tonga - TO", "Trinidad and Tobago - TT", "Tunisia - TN", "Turkey - TR", "Turkmenistan - TM", "Turks and Caicos Islands - TC", "Tuvalu - TV", "Uganda - UG", "Ukraine - UA", "United Arab Emirates - AE", "United Kingdom - GB", "United States - US", "United States Minor Outlying Islands - UM", "Uruguay - UY", "Uzbekistan - UZ", "Vanuatu - VU", "Venezuela - VE", "Viet Nam - VN", "Virgin Islands, British - VG", "Virgin Islands, U.S. - VI", "Wallis and Futuna - WF", "Western Sahara - EH", "Yemen - YE", "Zambia - ZM", "Zimbabwe - ZW"];
    $("#passportCountry").autocomplete({
        source: countries
    });
</script>
